/* Styles for page layout */

body {
  background-color: #F0EEE1;
}

#header {
  background: #3c8dc5;
  height: 80px;
  min-width: 960px;
  padding: 20px 20px 0 20px;
  margin-bottom: 30px;
  position: relative;
}

#wrap {
  padding: 10px 0;
}

#content {
  background: #FFFFFA;
}

#footer {
  margin-bottom: 20px;
}

#logo, #logo a {
  color: #fff;
  text-decoration: none;
}

/* if browser supports box-shadow */
.boxshadow #content {
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.inner {
  border: 1px solid #ddd;
  padding: 20px 20px 0 20px;
}

.inner.last {
  padding-bottom: 20px;
}

/* if browser supports box-shadow */
.boxshadow .inner {
  border: none;
}

#sidebar {

}

#search {
  margin: 1.4em 0;
  width: 200px;
}

.debug_dump {
  width: 940px; margin: 0 auto;
}

/* Styles for navigation bar */

#nav {
  position: absolute;
  top: 20px; right: 20px;
  padding: 5px 10px;
  background: #357EB0;
  white-space: nowrap;
}

#nav ul {
  margin: 0; padding: 0;
}

#nav ul li {
  list-style-type: none;
  display: inline-block;
}

#nav ul li a {
  padding: 0 10px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

#nav ul li a:hover {
  text-decoration: underline;
}

/* Styles for tab bar */

#tab {
  position: absolute;
  bottom: 0px;
}

#tab ul {
  margin: 0; padding: 0; list-style: none;
  float: left;
  height: 32px;
  width: 100%;
}

#tab li {
  background: #F0EEE1;
  color: #333;
  float: left;
  margin-right: 2px;
  height: 32px;
  font-size: 1.1em;
  line-height: 32px;
}

#tab .active {
  padding: 0 20px;
}

#tab li a {
  background: #357EB0;
  color: #fff;
  display: block;
  text-decoration: none;
  padding: 0 20px;
  outline: none;
}

#tab li a:hover {
  background: #b2d1e5;
  color: #333;
}

/* Styles for basic elements */

.quiet {
  color: #666;
}

.center {
  text-align: center;
}

.gravatar {
  margin: 0; padding: 0;
}

.user_photo {
  float: left;
  margin: 0 1.5em 1.5em 0;
  width: 150px;
  height: 150px;
  background: #fff url(/images/loader.gif) no-repeat center center;
}

/* Styles for tables */

.show_border, show_border th, .show_border td,
.show_border th+th, .show_border td+td {
  border: 1px solid #ddd;
}

.user_info {
  width: 300px;
}

/* Styles for task tables */

.task {
  float: left;
  width: 350px;
  margin: 0 20px 20px 0;
}

div.odd {
  /* use with cycle() to fix alignment problem */
  clear: left;
}

.task p {
  padding-bottom: 10px;
}

/* Styles for ticket tables */

.ticket th, .ticket td {
  padding: 10px;
}

.ticket th {
  background-color: #F3F0EB;
  color: #666;
  font-weight: normal;
}

.ticket th b {
  font-size: 14px;
}

.ticket .actions, .ticket .total {
  width: 25%;
}

.ticket .total, .ticket .subtotal {
  text-align: right;
}

.ticket .subtotal {
  background-color: #F3F0EB;
}

.ticket_row {
  border-bottom: 1px solid #ddd;
}

/* Styles for filter tables */

.filter {
  table-collapse: separate;
  border-collapse: separate;
  border-spacing: 15px;
  width: 100%;
  background-color: #F3F0EB;
}

.filter td {
  width: 200px;
  height: 80px;
  vertical-align: top;
  background-color: #fff;
  padding: 10px;
  text-align: center;
}

.filter td p {
  font-size: 14px;
  padding-bottom: 20px;
}

.filter td .button {
  width: 80%;
}

/* Styles for filtered ticket tables */

.filtered_tickets {
  width: 100%;
}

.filtered_tickets th, .filtered_tickets td {
  padding: 5px;
}

.filtered_tickets th {
  background-color: #F3F0EB;
}

/* Styles for comment tables */

.comment th {
  padding: 5px 10px; 
}

.comment td {
  padding: 10px;
}

.comment th {
  background-color: #F3F0EB;
  color: #666;
  font-weight: normal; 
}

/* Styles for add-ticket form */

.add_ticket {
  /* background-color: #fff4c0; */
  background-color: #F3F0EB;
  margin: 10px 0px;
  width: 100%;
}

.add_ticket th, .add_ticket td {
  padding: 5px;
}

.add_button_row {
  margin: 5px 0px 0px 20px;
}
