/* Styles for page layout */

body {
  background-color: #F0EEE1;
}

#header {
  background: #3c8dc5;
  height: 80px;
  min-width: 960px;
  padding: 20px 20px 0 20px;
  margin-bottom: 30px;
  position: relative;
}

#wrap {
  padding: 10px 0;
}

#content {
  background: #FFFFFA;
}

#footer {
  margin-bottom: 20px;
}

#logo, #logo a {
  color: #fff;
  text-decoration: none;
}

/* if browser supports box-shadow */
.boxshadow #content {
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.inner {
  border: 1px solid #ddd;
  padding: 20px 20px 0 20px;
}

.inner.last {
  padding-bottom: 20px;
}

/* if browser supports box-shadow */
.boxshadow .inner {
  border: none;
}

#sidebar {

}

#search {
  margin: 1.4em 0;
  width: 200px;
}

.debug_dump {
  width: 940px;
  margin: 0 auto;
}

/* Styles for basic elements */

.quiet {
  color: #666;
}

.center {
  text-align: center;
}

.gravatar {
  margin: 0; padding: 0;
}

.user_photo {
  float: left;
  display: block;
  width: 50px; height: 50px;
  margin: 0 10px 10px 0;
  z-index: 1;
}

.user_photo.medium {
  width: 100px; height: 100px;
  background: #fff url(/images/loader.gif) no-repeat center center;
}

.user_photo.large {
  width: 150px; height: 150px;
  margin: 0 15px 15px 0;
  background: #fff url(/images/loader.gif) no-repeat center center;
}

/* Styles for navigation bar */

#nav {
  position: absolute;
  top: 20px; right: 20px;
  padding: 5px 10px;
  background: #357EB0;
  white-space: nowrap;
}

#nav ul {
  list-style: none;
  margin: 0; padding: 0;
}

#nav ul li {
  list-style-position: outside;
  display: inline-block;
}

#nav ul li a {
  padding: 0 10px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

#nav ul li a:hover {
  text-decoration: underline;
}

/* Styles for tab bar */

#tab {
  position: absolute;
  bottom: 0;
}

#tab ul {
  list-style: none;
  margin: 0; padding: 0;
  float: left;
  height: 32px; width: 100%;
}

#tab li {
  list-style-position: outside;
  float: left;
  background: #F0EEE1;
  color: #333;
  margin-right: 2px;
  height: 32px;
  font-size: 1.1em;
  line-height: 32px;
}

#tab .active {
  padding: 0 20px;
}

#tab li a {
  background: #357EB0;
  color: #fff;
  display: block;
  text-decoration: none;
  padding: 0 20px;
  outline: none;
}

#tab li a:hover {
  background: #b2d1e5;
  color: #333;
}

/* Styles for user list */

ul.users {
  list-style: none;
}

ul.users li {
  list-style-position: outside;
  float: left;
  width: 268px; height: 100px;
  margin: 10px; padding: 5px;
  background-color: #F1F1F1;
  border: 1px solid #E3E3E3;
}

ul.users li h4 {
  margin-top: 10px;
}

ul.users li a {
  text-decoration: none;
}

ul.users li .actions {
  margin-top: 10px;
}

a.admin_link {
  color: #E10078;
}

/* Styles for micropost & feed list */

ul.microposts,
ul.feeds {
  list-style: none;
}

ul.microposts li,
ul.feeds li {
  list-style-position: outside;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

ul.microposts span, ul.feeds span {
  display: block;
}

ul.feeds span.title {
  font-weight: bold;
  margin-bottom: 0.5em;
}

ul.microposts span a,
ul.feeds span a {
  text-decoration: none;
}

ul.feeds span.user_photo {
  margin-bottom: 0;
}

ul.microposts span.content,
ul.feeds span.content {
  margin-bottom: 0.5em;
}

ul.microposts li:first-child span.content {
  font-size: 1.3em;
}

ul.microposts span.timestamp {
  font-size: 0.85em;
  color: #666;
}

/* Styles for tables */

.show_border, show_border th, .show_border td,
.show_border th+th, .show_border td+td {
  border: 1px solid #ddd;
}

table.user_info {
  width: 300px;
}

.user_info th, .user_info td {
  border: none;
}

/* Styles for task tables */

.task {
  float: left;
  width: 350px;
  margin: 0 20px 20px 0;
}

div.odd {
  /* use with cycle() to fix alignment problem */
  clear: left;
}

.task p {
  padding-bottom: 10px;
}

/* Styles for ticket tables */

.ticket th, .ticket td {
  padding: 10px;
}

.ticket th {
  background-color: #F3F0EB;
  color: #666;
  font-weight: normal;
}

.ticket th b {
  font-size: 14px;
}

.ticket .actions, .ticket .total {
  width: 25%;
}

.ticket .total, .ticket .subtotal {
  text-align: right;
}

.ticket .subtotal {
  background-color: #F3F0EB;
}

.ticket_row {
  border-bottom: 1px solid #ddd;
}

/* Styles for filter tables */

.filter {
  table-collapse: separate;
  border-collapse: separate;
  border-spacing: 15px;
  width: 100%;
  background-color: #F3F0EB;
}

.filter td {
  width: 200px; height: 80px;
  vertical-align: top;
  background-color: #fff;
  padding: 10px;
  text-align: center;
}

.filter td p {
  font-size: 14px;
  padding-bottom: 20px;
}

.filter td .button {
  width: 80%;
}

/* Styles for filtered ticket tables */

.filtered_tickets {
  width: 100%;
}

.filtered_tickets th, .filtered_tickets td {
  padding: 5px;
}

.filtered_tickets th {
  background-color: #F3F0EB;
}

/* Styles for comment tables */

.comment th {
  padding: 5px 10px; 
}

.comment td {
  padding: 10px;
}

.comment th {
  background-color: #F3F0EB;
  color: #666;
  font-weight: normal; 
}

/* Styles for add-ticket form */

.add_ticket {
  /* background-color: #fff4c0; */
  background-color: #F3F0EB;
  margin: 10px 0;
  width: 100%;
}

.add_ticket th, .add_ticket td {
  padding: 5px;
}

.add_button_row {
  margin: 5px 0 0 20px;
}

/* Styles for error messages */

#error_explanation {
  border-color: tomato;
  background-color: snow;
}

#error_explanation h2 {
  background-color: firebrick;
  color: floralwhite;
}

#error_explanation p {
  color: darkgray;
}

.field_with_errors input {
  background: #FBE3E4;
}

.inline-errors li {
  color: #D12F19;
}

/* Styles for flash messages */

div.error, div.notice, div.success {
  /* Overrides flutie styles */
  border-width: 2px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/* Styles for will_paginate */

.pagination {
  text-align: center;
}

.pagination a {
  text-decoration: none;
}

/* Styles for micropost form */

form.new_micropost {
}

form.new_micropost textarea {
  height: 50px;
  width: 80%;
}

/* Styles for blank slate */

.blank_slate {
  padding: 40px 0;
  border: 2px dashed #ddd;
  text-align: center;
  font-size: 1.7em;
  color: #999;
}

.blank_slate.last {
  margin-top: 20px;
}
