<div id="content" class="column grid_12">
  <div class="inner last">
    <h2 class="center"><span class="iconic user"></span> All users</h2>
    <hr />
    
    <ul class="users clearfix">
      <%= render @users %>
    </ul>
    
    <hr />
    <%= will_paginate %>    
    
  </div>
</div>
