<div id="content" class="column grid_12">
  <div class="inner last">
  
    <h2 class="center"><%= icon("pencil") %> Sign up</h2>
    <hr />
    
    <%= render :partial => "form", :locals => {:button_label => "Sign up"} %>
        
  </div>
</div>

