<div id="content" class="column grid_12">
  <div class="inner last">
    <div class="user_photo large">
      <%= gravatar_for @user, :size => 150, :d => image_url("avatar.jpg") %>
    </div>
    <table class="user_info" summary="User Info" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td colspan="2"><h2><%= @user.name %></h2></td>
      </tr> 
      <tr>
        <td><span class="quiet">Email</span></td>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <td><span class="quiet">URL</span></td>
        <td><%= link_to user_path(@user) %></td>
      </tr>
    </table>
    <hr />
    
  </div>
  
</div>
