<div id="content" class="column grid_10">
  <h2 class="title">About</h2>

  <p>Project management is the discipline of planning, organizing, securing and managing resources to bring about the successful completion of specific project goals and objectives.</p>
  
  <p>For more information, please visit <a href="http://en.wikipedia.org/wiki/Project_management" target="_blank">wikipedia page</a> on the subject.</p>
</div>

<div id="sidebar" class="column grid_2">
</div>
