<div id="content" class="column grid_9">
  <div class="inner">
    <h2 class="center"><span class="iconic info"></span> About</h2>
    <hr>
    <p>Project management is the discipline of planning, organizing, securing and managing resources to bring about the successful completion of specific project goals and objectives.</p>
  
  <p>For more information, please visit <a href="http://en.wikipedia.org/wiki/Project_management" target="_blank">wikipedia page</a> on the subject.</p>
  </div>
</div>

<div id="sidebar" class="column grid_3">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <p><input id="search" type="text" value="search" /></p>
</div>
