<div id="content" class="column grid_12">
  <div class="inner last">
    <h2 class="center"><span class="iconic info"></span> About</h2>
    <hr>
    <p>Project management is the discipline of planning, organizing, securing and managing resources to bring about the successful completion of specific project goals and objectives.</p>
  
  <p>For more information, please visit <a href="http://en.wikipedia.org/wiki/Project_management" target="_blank">wikipedia page</a> on the subject.</p>
  </div>
</div>
