<div id="content" class="column grid_9">
  <div class="inner">
    <h2 class="center">Home</h2>
    <hr>
    <p>This is the home page for the project management application.</p>
  </div>
</div>

<div id="sidebar" class="column grid_3">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <p><input id="search" type="text" value="search" /></p>
</div>
