<div id="content" class="column grid_10">
  <h2 class="title">Home</h2>

  <p>This is the home page for the project management application.</p>
</div>

<div id="sidebar" class="column grid_2">
</div>
