<div id="content" class="column grid_12">
  <div class="inner last">
    <h2 class="center"><span class="iconic home"></span> Home</h2>
    <hr>
    <p class="center">
      This is the home page for the project management application.
      <br /><br />
      <%= link_to signup_path, :class => "big button" do %>
        <span class="check iconic"></span> Sign up now!
      <% end %>
    </p>
  </div>
</div>
