<div id="header">
  <h1 id="title" class="light">Project name</h1>
  
  <div id="nav">
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'About', about_path %></li>
    </ul>
  </div>
</div>
